@model FactoryMagix.Models.PartConfiguration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MST_PartConfiguration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoschPart_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoschPart_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoschPart_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoschPart_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPart_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPart_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfPartQy_Box)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfPartQy_Box)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packed_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packed_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MST_Customer.Customer_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MST_Customer.Customer_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MST_User.Login_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MST_User.Login_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MST_User1.Login_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MST_User1.Login_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MST_PartConfiguration_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
