@model FactoryMagix.Models.MST_User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="~/Home/Index">Home</a></li>
            <li><i class="fa fa-table"></i>Account</li>
            <li><i class="fa fa-th-list"></i>Password Change</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">


            <header class="panel-heading">

                <table valign="middle">
                    <tr>
                        <th align="left" width="50%" style="font-size:18px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                            Change Password
                        </th>

                        

                        <td align="right" width="50%" valign="middle">
                            <input type="button" id="btnClear" class="btn btn-default btn-sm" title="Clear" value="Clear" />
                        </td>
                        <td align="right" width="50%" valign="middle">
                            <a class="btn btn-default btn-sm" href="~/Home/Index" title="Cancel">Cancel</a>
                        </td>

                    </tr>

                </table>
            </header>
            <div class="panel-body">
                 @using (Html.BeginForm("UpdatePassword", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                 {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal">
                        
                        <div class="form-group">
                            <label class="control-label col-md-2">Login Id</label>
                            <div class="col-md-10">
                               
                                @Html.EditorFor(model => model.Login_ID, new { htmlAttributes = new { @class = "form-control", @id = "txtLoginId",@readonly="readonly" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Old Password</label>
                            <div class="col-md-10">
                                <input type="text" id="txtPassword" tabindex="2"  class="form-control" />
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">New Password</label>
                            <div class="col-md-10">
                                
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control text-box single-line", @id = "txtPassowrd" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Confirm Password</label>
                            <div class="col-md-10">
                               
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control text-box single-line", @id = "txtConfirmPassword" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                 }

            </div>
        </section>

    </div>
</div>

