@model IEnumerable<FactoryMagix.Models.MST_Role>

@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string Status = "";
}


<script type="text/javascript">

    $(document).ready(function () {
       // $('#btnBack').hide();
        //$('#btnBack').css('visibility', 'hidden');
        document.getElementById('btnBack').disabled = false;

        $(document).on("click", "#btnSearch", function () {

            var ddlsrnodata = $("#option").val();
            var txtsrnodata = $("#Search").val();
            document.getElementById('btnBack').disabled = true;

            if (ddlsrnodata != -1)
            {
                if (txtsrnodata.length >= 3)
                {

                    var Url = '@Url.Action("Index", "Role")'
                    location.href = Url + "/?option=" + ddlsrnodata + "&Search=" + txtsrnodata;

                }
                else {
                    
                    alert("Please enter min 3 char to search.");
                    $("#Search").focus();
                }
            }
            else {
                alert("Please select search type.");
                $("#option").focus();
            }


        });

    });

    function GotoPage() {

        var pageno = $('#ingoto').val();
        $.ajax({
            type: "GET",
            data: { page: pageno },
            url: '@Url.Action("GotoPage", "Role")',
            success: function (result) {
                $("#grid").html('');
                $("#grid").html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
              
                console.debug(xhr); console.debug(thrownError);
                alert('Failed to retrieve Role records.');
            }
        });
    }


</script>

<div class="row">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="~/Home/Index">Home</a></li>
            <li><i class="fa fa-table"></i>Admin Utilities</li>
            <li><i class="fa fa-th-list"></i>Role</li>
        </ol>
    </div>
</div>




<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @using (Html.BeginForm("Index", "Role", FormMethod.Get))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <header class="panel-heading">
                    <table valign="middle">
                        <tr>
                            <th align="left" width="35%" style="font-size:18px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                                Role Details
                            </th>

                            <td align="center">
                                <b>
                                    Search-
                                </b>
                            </td>
                            <td align="center" width="20%">
                                @Html.DropDownList("option", new List<SelectListItem>
                             {
                                new SelectListItem{ Text="Select--", Value = "-1" },
                                new SelectListItem{ Text="Role Name", Value = "Role_Name" },
                                new SelectListItem{ Text="Role Desc", Value = "Role_Desc" }

                             }, htmlAttributes: new { @class = "form-control" })
                                @* @Html.ValidationMessageFor(model => model.op , "", new { @class = "text-danger" })*@


                            </td>
                            <td align="center" width="17%">
                                <input type="text" id="Search" name="Search" class="form-control" />
                            </td>

                            <td align="center">
                                <input type="submit" name="submit" id="btnSearch" class="btn btn-default btn-sm" value="Show Result" />
                            </td>

                            <td align="center">
                                <input type="button" id="btnBack"  class="btn btn-default btn-sm" title="Back to List" value="Back to List" onclick="location.href='@Url.Action("Index","Role")' " />
                            </td>
                            <td align="right" width="50%" valign="middle">
                                <input type="button" id="btnCreate" class="btn btn-default btn-sm" title="Create Role" value="Create Role" onclick="location.href='@Url.Action("Create","Role")' " />
                            </td>
                            <td align="right" width="50%" valign="middle">
                                <input type="button" id="btnExportToExcel" class="btn btn-default btn-sm" title="Export" value="Export" onclick="location.href='@Url.Action("ExportToExcel","Role")' " />
                            </td>
                            <td align="right" width="50%" valign="middle">
                                <a class="btn btn-default btn-sm" href="~/Home/Index" title="Cancel">Cancel</a>
                            </td>
                            
                        </tr>

                    </table>
                </header>
            }
            @*@{
                if (Model.Count() == 0)
                { <div style="text-align:center">
                <h5><b> Records not found. Please insert valid data.</b></h5>
            </div> <hr />
                } }*@

            <div class="table-responsive">

                <table class="table">
                    <thead>

                        <tr>
                            <th>
                                Sr. No.

                            </th>
                            <th>
                                Role Name
                                @*@Html.DisplayNameFor(model => model.Role_Name)*@
                            </th>
                            <th>
                                Role Description
                                @*@Html.DisplayNameFor(model => model.Role_Desc)*@
                            </th>
                            <th>
                                Status
                                @*  @Html.DisplayNameFor(model => model.IsActive)*@
                            </th>

                            <th></th>
                        </tr>

                    </thead>

                    <tbody>
                        @{int i = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Label(i.ToString())
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role_Desc)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.IsActive)*@

                                    @if (item.IsActive == true)
                                    {
                                        Status = "Active";
                                    }
                                    else
                                    {
                                        Status = "InActive";
                                    }
                                    @Status
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Role_ID })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Role_ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Role_ID })*@
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>



                <table class="table">


                    <tr style="background-color: #E6E6E6;">
                        <td style="border: none;padding-left:1em"></td>
                        <td style="border: none;padding-right:2em"></td>

                        <td style="text-align:right; border: none">
                            <span>
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
                           {
                               page,
                               option = Request.QueryString["option"],
                               search = Request.QueryString["search"]
                           }), PagedListRenderOptions.MinimalWithPageCountText)
                            </span>
                        </td>
                        <td style="border: none;padding-left:10em"></td>
                        <td style="border: none; text-align: left">@ViewBag.RecordsCount Records found.</td>
                        <td style="border: none; padding-left:28em"></td>
                        <td style="border: none;text-align: left">

                            <label>Go to page</label>
                            <input type="text" id="ingoto" style="height: 20px; width: 25px;" />
                            <input type="submit" value=">" class="btn btn-default" onclick="location.href='@Url.Action("GotoPage", "Role")?page=' + document.getElementById('ingoto').value" />

                            @*style="background: url('img/arrowright.png'); border: none; background-repeat: no-repeat; margin: 0px; height: 18px;"*@
                        </td>

                    </tr>


                </table>

                @if (ViewData["GotoPageMessage"] != null)
                {
                    <script language="javascript">
                        alert('@ViewData["GotoPageMessage"] @ViewBag.PageCount');
                    </script>
                }

                @if (TempData["CreateMessage"] != null)
                {
                   
                    <script language="javascript">
                        alert('@TempData["CreateMessage"]');
                    </script>
                }

                @if (TempData["EditMessage"] != null)
                {
                   
                    <script language="javascript">
                        alert('@TempData["EditMessage"]');
                    </script>
                }
                @if (TempData["NoDatavalidationMessage"] != null)
                {

                    <script language="javascript">
                     alert('@TempData["NoDatavalidationMessage"]');
                    </script>
                }
            </div>

        </section>
    </div>
</div>
<br />
