@model FactoryMagix.Models.spGetAllPartNowithIndex_Result
@{
    ViewBag.Title = "Box Barcode Generation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ontop {
        z-index: 999;
        width: 100%;
        height: 1000px;
        top: 0;
        left: 0;
        display: none;
        position: absolute;
        background-color: white;
        color: #aaaaaa;
        opacity: .9;
        filter: alpha(opacity = 50);
    }

    #popup {
        width: 300px;
        height: 400px;
        position: absolute;
        color: black;
        background-color: gray;
        top: 40%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
    }

    .blink_me {
        animation: blinker 1s linear infinite;
    }

    @@keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .input-group {
        display: inline-flex;
        width: 100%;
        text-align: left;
        max-width: 280px;
    }

    .input-group-addon {
        width: 35px;
        height: 34px;
    }
</style>

<script type="text/javascript">
    function pop(div) {
        document.getElementById(div).style.display = 'block';
    }

    function hide(div) {
        document.getElementById(div).style.display = 'none';
    }
    document.onkeydown = function (evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
            hide('popDiv');
        }
    };
</script>

<script type="text/javascript" language="javascript">
        var tblScanPartNo = document.getElementById("tblScanPartNo");
        var pubbufferbarcode = "";
        var rowcount, colcount;
        var status = 0;
        var BatchCode, Serial;
        var totalPartCount = 0;
        var partNo = "";
        var parameter = "";
        var Code = "";
        var Errordescription = "";

        var IdList = [];
        var countHowManyScans = 0;

        var toyotaPartInDB = "";
        var boschPartNoInDB = "";
        var kanbanId = "";
        var supplierCode = "";
        var ddlSelPartNo = "";
        $("#hdnCustomerPartNo").val("");

        $(document).ready(function () {
            $('.combobox').combobox();
            IdList.length = 0;
            document.getElementById('txtScanPartBarcode').disabled = true;

            // Added for toyota
            $("#divCustomerPartNo").hide();
            $("#txtScanCustPartBarcode").val("");
            toyotaPartInDB = "";
            boschPartNoInDB = "";
            kanbanId = "";
            supplierCode = "";

            getPartNoList();

            $("#MST_PartConfiguration_IDundefined").focus();

            $('.glyphicon-remove').on('click', function () {
                $("#txtpartDesc").val("");
                $("#txtQtybox").val("");
                $("#txtCustName").val("");
                $("#txtCustCode").val("");
                $("#txtCustIndex").val("");
                $("#tblScanPartNo").empty();
                $('#txtScanned').html("");
                totalPartCount = 0;
                countHowManyScans = 0;

                if (document.getElementById('btnVerify').disabled == false) {
                    document.getElementById('btnVerify').disabled = true;
                }
                // Added for toyota
                if ($("#divCustomerPartNo").is(":visible")) {
                    $("#divCustomerPartNo").hide();
                    $("#txtScanCustPartBarcode").val("");

                    toyotaPartInDB = "";
                    boschPartNoInDB = "";
                    ddlSelPartNo = "";
                }

                if ($("#divBoschPartNo").is(":hidden")) {
                    $("#divBoschPartNo").show();
                }

                $("#hdnDDLId").val("");
                $("#hdnDDLText").val("");

                $("#hdnCustomerPartNo").val("");
            });

            // To get the selected value of the ddl on the selected text
            $("#MST_PartConfiguration_IDundefined").change(function () {
                var ddlText = $(this).val();
                for (i = 0; i < IdList.length; i++) {    // IdList array elements get filled in getPartNoList() function when page loads
                    if (ddlText.toUpperCase() == (IdList[i].name).toUpperCase()) {
                        // Clear the previous value first before inserting new value
                        $("#hdnDDLId").val("");
                        $("#hdnDDLText").val("");

                        $("#hdnDDLId").val(IdList[i].id);
                        $("#hdnDDLText").val(IdList[i].name);

                        Action(IdList[i].id);
                        break;
                    }
                }
            });
        });

        function getPartNoList() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPartNos", "BoxLabel")',
                data: "{}",
                dataType: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#MST_PartConfiguration_ID").append('<option value=' + data[i].MST_PartConfiguration_ID + '>' + data[i].PartNo + '</option>');
                        IdList.push({ id: data[i].MST_PartConfiguration_ID, name: data[i].PartNo });
                    }
                    $('#MST_PartConfiguration_ID').data('combobox').refresh();
                },
                error: function (result) {
                    alert(result.status + ' ' + result.statusText);
                }
            });
        }

        function execFinger() {
            Clear();
            $.ajax({
                url: '@Url.Action("GetuserData", "BoxLabel")',
                type: "POST",
                data: {},
                success: function (data) {
                    if (data != null) {
                        if (data.length > 0) {
                            var vdata = data;       // data get the valus as  =>  1;ttladmin i.e. UserId, LoginId
                            try {
                                //= 1;ttladmin ; FingerValidationBox
                                parameter = vdata + ";FingerValidationBox;" + parameter;
                                exec(parameter);
                                return 1;
                            }
                            catch (e) {
                                alert('Error : ' + e.Message + '\n' + e.InnerException + '\n' + e.Source + '\n' + e.StackTrace);
                                return 0;
                            }
                        }
                    }
                }
            });
        }

        function exec(params) {
            try {
                var shell = new ActiveXObject("WScript.shell");
                alert("Please change user validation screen");
                shell.run("C:\\UserValidation\\Debug\\\PrintingNET35\\LabelPrinting.exe " + parameter, 1, true);

                return 1;
            }
            catch (e) {
                alert('Error : ' + e.Message + '\n' + e.InnerException + '\n' + e.Source + '\n' + e.StackTrace);
                return 0;
            }
        }

        function Action(code) {
            $.ajax({
                url: '@Url.Action("Action", "BoxLabel")',
                type: "POST",
                data: { "code": code },
                success: function (data) {
                    if (data != null) {
                        var vdata = data;
                        if (vdata.query.length > 0) {
                            //for toyota customer
                            if (vdata.query[0].Customer_Code == vdata.Customer) {
                                $("#txtpartDesc").val(vdata.query[0].BoschPart_Desc);
                                $("#txtCustName").val(vdata.query[0].Customer_Name);
                                $("#txtCustCode").val(vdata.query[0].Customer_Code);
                                $("#txtCustIndex").val(vdata.query[0].Customer_Index);
                                // $("#txtQtybox").val(vdata[0].NoOfPartQy_Box);
                                $("#hdnCustomerPartNo").val(vdata.query[0].CustPart_No);

                                $("#divBoschPartNo").hide();
                                $("#txtScanPartBarcode").val("");
                                $("#divCustomerPartNo").show();
                                $("#txtScanCustPartBarcode").focus();
                            }
                            else {
                                $("#txtQtybox").val(vdata.query[0].NoOfPartQy_Box);
                                $("#txtpartDesc").val(vdata.query[0].BoschPart_Desc);
                                $("#txtCustName").val(vdata.query[0].Customer_Name);
                                $("#txtCustCode").val(vdata.query[0].Customer_Code);
                                $("#txtCustIndex").val(vdata.query[0].Customer_Index);
                                $("#hdnCustomerPartNo").val(vdata.query[0].CustPart_No);

                                if ($("#divBoschPartNo").is(":hidden")) {
                                    $("#divBoschPartNo").show();
                                    $("#txtScanPartBarcode").val("");
                                }

                                document.getElementById("txtScanPartBarcode").disabled = false;
                                $("#txtScanPartBarcode").focus();
                            }
                        }
                        $("#tblScanPartNo").empty();
                    }
                },
            });
        }

        $(document).on("keyup", "#txtScanCustPartBarcode", function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == 13) {
            // Scanned customer Barcode string
                var custScannedBarcode = document.getElementById('txtScanCustPartBarcode').value;
            if (custScannedBarcode.length == 87) {    // Toyota barcode length is of 87 characters
                var splitCustStrbarcode = custScannedBarcode.split(",");
                if (splitCustStrbarcode.length > 1 && splitCustStrbarcode.length == 11) {

                    var first = splitCustStrbarcode[0];
                    supplierCode = splitCustStrbarcode[1];

                    var getStrPart = first.substring(16, 27);  //get toyota part No
                    toyotaPartInDB = getStrPart.replace(/[^a-z0-9\s]/gi, '').replace(/[-\s]/g, "");

                    var custPartNoDB = $("#hdnCustomerPartNo").val();  // this hidden field get initiated in Action() function  ie. 472000DE50
                    ddlSelPartNo = custPartNoDB.substring(0, 10);

                    if (ddlSelPartNo != "") {
                        if (toyotaPartInDB.toUpperCase() == ddlSelPartNo.toUpperCase()) {
                            var kanban = splitCustStrbarcode[5];
                            var qty = splitCustStrbarcode[6];

                            $.ajax({
                                url: '@Url.Action("VerifyCustomerPartNo", "BoxLabel")',
                                type: "POST",
                                data: { 'ToyotaPartInDB': toyotaPartInDB, 'Kanban': kanban },
                                success: function (data) {
                                    if (data.length > 0) {
                                        boschPartNoInDB = data[0].Bosch_PartNo;
                                        kanbanId = kanban;

                                        $("#blinkCustomer").removeClass("blink_me");  // removed blinking
                                        $("#blinkCustomer").css({ 'color': 'gray', 'font-weight': '300' });
                                        $("#txtQtybox").val(qty);                     // dynamically assign qty value from cust barcode string
                                        $("#divBoschPartNo").show();
                                        document.getElementById("txtScanPartBarcode").disabled = false;
                                        $("#txtScanPartBarcode").focus();
                                    }
                                },
                                error: function (data) {
                                    alert("Scanned customer barcode not matching with database...!");
                                    $("#txtScanCustPartBarcode").val("");
                                }
                            });

                        }
                        else {
                            $("#txtScanCustPartBarcode").val("");
                            alert("Scanned customer barcode not matching with selected customer from dropdownlist...!");
                            Errordescription = custScannedBarcode + " - Scanned customer barcode not matching with selected value from dropdownlist.";
                            SaveUserLogs();
                        }
                        $("#hdnCustomerPartNo").val("");
                    }
                    else {
                        alert("Customer part no. not found in scanned barcode string.");
                        Errordescription = custScannedBarcode + " - Customer part no. is empty in hidden field #hdnCustomerPartNo";
                        SaveUserLogs();
                    }
                }
                else {
                    alert("Wrong customer barcode is scanned.");
                    $("#txtScanCustPartBarcode").val("");
                    Errordescription = custScannedBarcode + " - Splict barcode string count is not equal to 11 as aspected.";
                    SaveUserLogs();
                }
            }


                //Added By Jayant for New Toyota Barcode

            else if (custScannedBarcode.length == 104) {
                var splitCustStrbarcode = custScannedBarcode.split(",");
                if (splitCustStrbarcode.length > 1 && splitCustStrbarcode.length == 13) {

                    let kanban = splitCustStrbarcode[11];
                    let customer = splitCustStrbarcode[12];
                    let qty = splitCustStrbarcode[6];
                    let toyotaPartInDB = $("#hdnCustomerPartNo").val();

                    if (customer != "") {
                        if (toyotaPartInDB.substring(9).toUpperCase() == customer.substring(8).toUpperCase()) {


                            $.ajax({
                                url: '@Url.Action("VerifyCustomerPartNo", "BoxLabel")',
                                type: "POST",
                                data: { 'ToyotaPartInDB': toyotaPartInDB, 'Kanban': kanban },
                                success: function (data) {
                                    if (data.length > 0) {
                                        boschPartNoInDB = data[0].Bosch_PartNo;
                                        kanbanId = kanban;

                                        $("#blinkCustomer").removeClass("blink_me");  // removed blinking
                                        $("#blinkCustomer").css({ 'color': 'gray', 'font-weight': '300' });
                                        $("#txtQtybox").val(qty);                     // dynamically assign qty value from cust barcode string
                                        $("#divBoschPartNo").show();
                                        document.getElementById("txtScanPartBarcode").disabled = false;
                                        $("#txtScanPartBarcode").focus();
                                    }
                                },
                                error: function (data) {
                                    alert("Scanned customer barcode not matching with database...!");
                                    $("#txtScanCustPartBarcode").val("");
                                }
                            });

                        }
                        else {
                            $("#txtScanCustPartBarcode").val("");
                            alert("Scanned customer barcode not matching with selected customer from dropdownlist...!");
                            Errordescription = custScannedBarcode + " - Scanned customer barcode not matching with selected value from dropdownlist.";
                            SaveUserLogs();
                        }
                        $("#hdnCustomerPartNo").val("");
                    }
                    else {
                        alert("Customer part no. not found in scanned barcode string.");
                        Errordescription = custScannedBarcode + " - Customer part no. is empty in hidden field #hdnCustomerPartNo";
                        SaveUserLogs();
                    }
                }
                else {
                    alert("Wrong customer barcode is scanned.");
                    $("#txtScanCustPartBarcode").val("");
                    Errordescription = custScannedBarcode + " - Splict barcode string count is not equal to 11 as aspected.";
                    SaveUserLogs();
                }
            }


            else {
                alert("Wrong customer barcode is scanned. The length of scanned barcode string is not equal to 85 Characters.");
                $("#txtScanCustPartBarcode").val("");
                Errordescription = custScannedBarcode + " - Scanned customer barcode string is not equal to 85 characters.";
                SaveUserLogs();
            }
          }
        });

        $(document).on("keyup", "#txtScanPartBarcode", function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            var PartNo, partbatchcode, partsrno;
            if (keycode == 13) {
                countHowManyScans = countHowManyScans + 1;

                if (countHowManyScans <= parseInt(document.getElementById('txtQtybox').value)) { // parseInt Added By Jayant
                    var scannedBarcode = document.getElementById('txtScanPartBarcode').value;
                    var TempBarcode = scannedBarcode;

                    TempBarcode = TempBarcode.split(":");
                    var TempPreviousBarcode = TempBarcode;

                    if (TempBarcode.length == 3) {
                        TempBarcode = "***:" + TempBarcode[0] + ":*****:" + TempBarcode[1] + ":**:" + TempBarcode[2];
                        scannedBarcode = TempBarcode;
                    }
                    if ($("#divCustomerPartNo").is(":visible")) {
                        var txtCustBarcodeValue = $("#txtScanCustPartBarcode").val();

                        if (txtCustBarcodeValue != null && txtCustBarcodeValue != "") {
                            console.log('if (txtCustBarcodeValue != null && txtCustBarcodeValue != "")');
                            if (scannedBarcode.length == 52) {  // Bosch part barcode string length for Toyota is of 52 Char long
                                var splitBoschBarcode = scannedBarcode.split(":");

                                if (splitBoschBarcode.length > 1 && splitBoschBarcode.length == 7) {
                                    var boschPart = splitBoschBarcode[0];

                                    var toyotaPartNoInBoschBarcode = splitBoschBarcode[1];
                                    var toyPartNoInBosch = toyotaPartNoInBoschBarcode.replace(/[^a-z0-9\s]/gi, '').replace(/[-\s]/g, "");  // Remove space from the string

                                    if (boschPart.indexOf('.') > -1) {

                                    }
                                    else {
                                        // add '.' to the part no.
                                        var newBoschPartNo = "";
                                        var fCode = "";
                                        var sCode = "";
                                        var tCode = "";
                                        var str = "";

                                        str = boschPart.replace(/[^a-z0-9\s]/gi, '').replace(/[\s]/g, "");  // Remove space from the string;
                                        if (str.length == 10) {
                                            fCode = str.substr(0, 4);
                                            fCode += '.';
                                            newBoschPartNo = fCode;

                                            sCode = str.substr(4, 3);
                                            sCode += '.';
                                            newBoschPartNo = newBoschPartNo + sCode;

                                            tCode = str.substr(7, 3);
                                            // tCode += '.';
                                            newBoschPartNo = newBoschPartNo + tCode;

                                            boschPart = newBoschPartNo;
                                        }
                                    }

                                    if (toyPartNoInBosch.toUpperCase() == toyotaPartInDB.toUpperCase() && boschPart == boschPartNoInDB) {  // validated toyota part no and curresponding bosch part no in db

                                        if (splitBoschBarcode[6].length == 8) {
                                            if (splitBoschBarcode[0].length == 10) {
                                                scanbarcode(splitBoschBarcode[0], splitBoschBarcode[3] + ':' + splitBoschBarcode[4], splitBoschBarcode[6])
                                            }
                                            else {
                                                $("#txtScanPartBarcode").val("");
                                                $("#txtScanPartBarcode").focus();
                                                alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                                Errordescription = scannedBarcode + " - Incorrect Bosch Part no. in scanned barcode string. Part no. length is not equal to 10 characters.";
                                                if (countHowManyScans > 0) {
                                                    countHowManyScans = countHowManyScans - 1;
                                                }
                                                else {
                                                    countHowManyScans = 0;
                                                }
                                                SaveUserLogs();
                                            }
                                        }
                                        else {
                                            $("#txtScanPartBarcode").val("");
                                            $("#txtScanPartBarcode").focus();
                                            alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                            Errordescription = scannedBarcode + " - Bosch part serial no. length is incorrect.";
                                            if (countHowManyScans > 0) {
                                                countHowManyScans = countHowManyScans - 1;
                                            }
                                            else {
                                                countHowManyScans = 0;
                                            }
                                            SaveUserLogs();
                                        }

                                    }
                                    else {
                                        $("#txtScanPartBarcode").val("");
                                        $("#txtScanPartBarcode").focus();
                                        alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                        Errordescription = scannedBarcode + " - Toyota part no. OR Bosch part no did not matched with database.";
                                        if (countHowManyScans > 0) {
                                            countHowManyScans = countHowManyScans - 1;
                                        }
                                        else {
                                            countHowManyScans = 0;
                                        }
                                        SaveUserLogs();
                                    }
                                }
                                else {  // ie. after splitting the barcode the split length is not equal to 7
                                    $("#txtScanPartBarcode").val("");
                                    $("#txtScanPartBarcode").focus();
                                    alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                    Errordescription = scannedBarcode + " - After spliting the scanned barcode, the spliting count not equal to 7 as aspected.";
                                    if (countHowManyScans > 0) {
                                        countHowManyScans = countHowManyScans - 1;
                                    }
                                    else {
                                        countHowManyScans = 0;
                                    }
                                    SaveUserLogs();
                                }
                            }

                            // new Login for Part No. T00, T10, T30, T50, T60, T80
                            else if (scannedBarcode.length = 40 && scannedBarcode.split(":").length > 1 && scannedBarcode.split(":").length == 6) { // Added By Jayant Satkar
                                let splitBoschBarcode = scannedBarcode.split(":");

                                if (splitBoschBarcode[5].length < 9) {
                                    scanbarcode(splitBoschBarcode[2], splitBoschBarcode[3], splitBoschBarcode[5]) // Need to understand batchcode from String
                                }

                                else {
                                    if (countHowManyScans > 0) {
                                        countHowManyScans = countHowManyScans - 1;
                                    } else {
                                        countHowManyScans = 0;
                                    }

                                    SaveUserLogs();
                                }
                            }


                            else {  // ie. scann barcode length is not equla to 52
                                $("#txtScanPartBarcode").val("");
                                $("#txtScanPartBarcode").focus();
                                alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                Errordescription = scannedBarcode + " - The scanned Bosch barcode string is not equal to 52 char length.";
                                if (countHowManyScans > 0) {
                                    countHowManyScans = countHowManyScans - 1;
                                }
                                else {
                                    countHowManyScans = 0;
                                }
                                SaveUserLogs();
                            }
                        }
                        else {
                            $("#txtScanPartBarcode").val("");
                            $("#txtScanPartBarcode").focus();
                            alert(scannedBarcode + " - Customer barcode string can not be empty. please scan correct customer barcode!");
                            Errordescription = scannedBarcode + " - The scanned Bosch barcode string is null or empty.";
                            if (countHowManyScans > 0) {
                                countHowManyScans = countHowManyScans - 1;
                            }
                            else {
                                countHowManyScans = 0;
                            }
                            SaveUserLogs();
                        }
                    }
                        // *********************End condition for toyota ******************************

                        // *********************START Other customers  ******************************
                    else if (scannedBarcode.length >= 32) {

                        var splitstrbarcode = scannedBarcode.split(":");

                        //*******************New Barcode Addition By Jayant Satkar *****************//

                        if (splitstrbarcode.length > 1 && splitstrbarcode.length == 6) {
                            if (splitstrbarcode[5].length < 9 && splitstrbarcode[1] != '0204850556') { //Handle Part Number 0204850556 on Customer Input
                                if (splitstrbarcode[5].length >= 6) {
                                    if (splitstrbarcode[0].length > 3) {
                                        scanbarcode(splitstrbarcode[0], splitstrbarcode[3] + ':' + splitstrbarcode[4], splitstrbarcode[5])
                                    }
                                    else if (splitstrbarcode[0].length == 3) {


                                        if (TempPreviousBarcode.length == 3) {
                                            scanbarcode(splitstrbarcode[1], splitstrbarcode[3], splitstrbarcode[5])
                                        }
                                        else {
                                            scanbarcode(splitstrbarcode[1], splitstrbarcode[3] + ':' + splitstrbarcode[4], splitstrbarcode[5])
                                        }

                                    }
                                }
                                else {
                                    $("#txtScanPartBarcode").val("");
                                    $("#txtScanPartBarcode").focus();
                                    alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                    Errordescription = scannedBarcode + " - Part serial no. length is less than 6 characters.";
                                    if (countHowManyScans > 0) {
                                        countHowManyScans = countHowManyScans - 1;
                                    }
                                    else {
                                        countHowManyScans = 0;
                                    }

                                    SaveUserLogs();
                                }
                            }
                            else {
                                $("#txtScanPartBarcode").val("");
                                $("#txtScanPartBarcode").focus();
                                alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                Errordescription = scannedBarcode + " - Part serial no. length is greater than 9 characters.";

                                if (countHowManyScans > 0) {
                                    countHowManyScans = countHowManyScans - 1;
                                }
                                else {
                                    countHowManyScans = 0;
                                }

                                SaveUserLogs();
                            }
                        }
                        else if (splitstrbarcode.length == 1) {

                            if (splitstrbarcode[0].length == 32) {
                                var partno = splitstrbarcode[0].substring(0, 14);
                                var batchcode = splitstrbarcode[0].substring(22, 26);
                                var serialno = splitstrbarcode[0].substring(26, 32);

                                scanbarcode(partno, batchcode, serialno);
                            }
                            else {
                                $("#txtScanPartBarcode").val("");
                                $("#txtScanPartBarcode").focus();
                                alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                                Errordescription = scannedBarcode + " - Wrong barcode scanned. please scan correct barcode";

                                if (countHowManyScans > 0) {
                                    countHowManyScans = countHowManyScans - 1;
                                }
                                else {
                                    countHowManyScans = 0;
                                }

                                SaveUserLogs();
                            }
                        }
                        else {
                            $("#txtScanPartBarcode").val("");
                            $("#txtScanPartBarcode").focus();
                            alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                            Errordescription = scannedBarcode + " - Wrong barcode scanned. please scan correct barcode";
                            if (countHowManyScans > 0) {
                                countHowManyScans = countHowManyScans - 1;
                            }
                            else {
                                countHowManyScans = 0;
                            }

                            SaveUserLogs();
                        }
                    }
                    else if (scannedBarcode.length == 27) {
                        let partNumber = scannedBarcode.substring(5, 16);
                        let customerPartNumber = $("#hdnCustomerPartNo").val();
                        let partBatchCode = scannedBarcode.substring(16, 22);
                        let shiftCode = scannedBarcode.substring(22, 23);
                        let partSerialNumber = scannedBarcode.substring(23, 27);
                        if (partNumber == customerPartNumber) {  // element having count 4 after split
                            scanbarcode(partNumber, partBatchCode + ':' + shiftCode, partSerialNumber);


                        }
                    }
                    else {
                        $("#txtScanPartBarcode").val("");
                        $("#txtScanPartBarcode").focus();
                        alert(scannedBarcode + " - Wrong barcode scanned. please scan correct barcode");
                        Errordescription = scannedBarcode + " - Wrong barcode scanned. please scan correct barcode";
                        if (countHowManyScans > 0) {
                            countHowManyScans = countHowManyScans - 1;
                        }
                        else {
                            countHowManyScans = 0;
                        }
                        SaveUserLogs();
                    }
                }
                else {
                    $("#txtScanPartBarcode").val("");
                    $("#txtScanPartBarcode").focus();
                    countHowManyScans = countHowManyScans - 1;
                    alert("quantity of parts scanned exceded");
                    Errordescription = "No of part scanned exceded than the actual count";
                    SaveUserLogs();
                }
            }
        });

    function scanbarcode(partno, partbatchcode, partsrno) {
            var splitpartNo = "";
            var partconfigurationID = $("#hdnDDLId").val();
            var ddlpartNoText = $("#hdnDDLText").val();

            console.log('ddl Value:' + ddlpartNoText);
            if (ddlpartNoText) {
                splitpartNo = ddlpartNoText.split("-");
            }

            if (partno.indexOf('.') > -1) {

            }
            else {
                // add char '.' to the part no.
                var newPartNo = "";
                var fCode = "";
                var sCode = "";
                var tCode = "";
                var str = "";

                var str = partno;
                if (str.length == 10) {
                    fCode = str.substr(0, 4);
                    fCode += '.';
                    newPartNo = fCode;

                    sCode = str.substr(4, 3);
                    sCode += '.';
                    newPartNo = newPartNo + sCode;

                    tCode = str.substr(7, 3);
                    // tCode += '.';
                    newPartNo = newPartNo + tCode;

                    partno = newPartNo;
                }
            }
            if (splitpartNo[0].toUpperCase() === partno.toUpperCase() || splitpartNo[4].toUpperCase() === partno.toUpperCase()) {

                $.ajax({
                    url: '@Url.Action("ValidatePartNo", "BoxLabel")',
                    type: "POST",
                    data: {
                        "PartNo": partno, "batchcode": partbatchcode, "partSerialNo": partsrno,
                        "partconfigid": partconfigurationID, "PartBarcode": ddlpartNoText
                    },
                    success: function (ValidateData) {
                        if (ValidateData != null) {
                            var tempdate = ValidateData;

                            if (tempdate === 1) {

                                tblScanPartNo = document.getElementById("tblScanPartNo");
                                if (tblScanPartNo.rows.length == 0) {
                                    totalPartCount = totalPartCount + 1;
                                    $('#txtScanned').html(totalPartCount);

                                    if (totalPartCount == document.getElementById('txtQtybox').value) {
                                        document.getElementById('txtScanPartBarcode').disabled = false;
                                        document.getElementById('btnVerify').disabled = false;
                                    }

                                    CreateBlankRow(tblScanPartNo);
                                    //add one moredata row
                                    var row = document.createElement('tr'); // create row node
                                    var col = document.createElement('td'); // create column node
                                    var col2 = document.createElement('td'); // create second column node
                                    var col3 = document.createElement('td');
                                    row.appendChild(col); // append first column to row
                                    row.appendChild(col2); // append second column to row
                                    row.appendChild(col3);
                                    col.innerHTML = partno; // put data in first column
                                    col2.innerHTML = partbatchcode; // put data in second column
                                    col3.innerHTML = partsrno;

                                    tblScanPartNo.appendChild(row); // append row to table

                                    $("#txtScanPartBarcode").val("");
                                    $("#txtScanPartBarcode").focus();
                                }
                                else if (tblScanPartNo.rows.length > 1) {
                                    totalPartCount = totalPartCount + 1;
                                    $('#txtScanned').html(totalPartCount);

                                    if (totalPartCount <= document.getElementById('txtQtybox').value) {
                                        //To enable Print Barcode button

                                        if (totalPartCount == document.getElementById('txtQtybox').value) {
                                            document.getElementById('txtScanPartBarcode').disabled = false;
                                            document.getElementById('btnVerify').disabled = false;
                                        }

                                        rowcount = 0;
                                        colcount = 0;
                                        status = 0;
                                        BatchCode = "";
                                        Serial = "";
                                        for (rowcount = 1; rowcount < tblScanPartNo.rows.length; rowcount++) {
                                            BatchCode = tblScanPartNo.rows[rowcount].cells[1].innerHTML;
                                            Serial = tblScanPartNo.rows[rowcount].cells[2].innerHTML;
                                            if (BatchCode == partbatchcode) {
                                                if (Serial == partsrno) {
                                                    status = 1;
                                                    break;
                                                }
                                                else {
                                                    status = 0;
                                                }
                                            }
                                        }
                                        if (status == 0) {
                                            var row = document.createElement('tr'); // create row node
                                            var col = document.createElement('td'); // create column node
                                            var col2 = document.createElement('td'); // create second column node
                                            var col3 = document.createElement('td');
                                            row.appendChild(col); // append first column to row
                                            row.appendChild(col2); // append second column to row
                                            row.appendChild(col3);
                                            col.innerHTML = partno; // put data in first column
                                            col2.innerHTML = partbatchcode; // put data in second column
                                            col3.innerHTML = partsrno;
                                            tblScanPartNo.appendChild(row);// append row to table

                                            $("#txtScanPartBarcode").val("");
                                            $("#txtScanPartBarcode").focus();
                                        }
                                        else if (status == 1) {
                                            totalPartCount = totalPartCount - 1;

                                            $('#txtScanned').html(totalPartCount);


                                            if (totalPartCount != document.getElementById('txtQtybox').value) {
                                                document.getElementById('btnBarcodePrint').disabled = true;
                                                document.getElementById('btnVerify').disabled = true;
                                            }
                                            alert($("#txtScanPartBarcode").val() + " - Part already scanned. please scan another part");  // this will be shown if scanned part is already in the dynamic html table on this view.
                                            Errordescription = $("#txtScanPartBarcode").val() + " - Part already scanned. please scan another part";

                                            $("#txtScanPartBarcode").val("");
                                            if (countHowManyScans > 0) {
                                                countHowManyScans = countHowManyScans - 1;
                                            }
                                            else {
                                                countHowManyScans = 0;
                                            }

                                            SaveUserLogs();
                                        }
                                    }
                                    else {
                                        $("#txtScanPartBarcode").val("");
                                        document.getElementById('txtScanPartBarcode').disabled = true;
                                        $("#btnBarcodePrint").focus();
                                        totalPartCount = totalPartCount - 1;
                                        $('#txtScanned').html(totalPartCount);
                                        if (countHowManyScans > 0) {
                                            countHowManyScans = countHowManyScans - 1;
                                        }
                                        else {
                                            countHowManyScans = 0;
                                        }
                                        alert("Total part quantity exceded");
                                    }
                                }

                                $("#txtScanPartBarcode").val("");
                                $("#txtScanPartBarcode").focus();

                            }
                            else {   // temp data === 1 failed
                                $("#txtScanPartBarcode").focus();
                                alert($("#txtScanPartBarcode").val() + " - This part packed already");
                                Errordescription = $("#txtScanPartBarcode").val() + " - This part packed already";
                                if (countHowManyScans > 0) {
                                    countHowManyScans = countHowManyScans - 1;
                                }
                                else {
                                    countHowManyScans = 0;
                                }
                                SaveUserLogs();

                                $("#txtScanPartBarcode").val("");
                            }
                        }
                    }
                })
            }

            else {
                $("#txtScanPartBarcode").focus();
                alert($("#txtScanPartBarcode").val() + " - Wrong part scanned");
                Errordescription = $("#txtScanPartBarcode").val() + " - Wrong part scanned";
                if (countHowManyScans > 0) {
                    countHowManyScans = countHowManyScans - 1;
                }
                else {
                    countHowManyScans = 0;
                }
                SaveUserLogs();
                $("#txtScanPartBarcode").val("");
            }
        }

        function SaveUserLogs() {

            var partconfigurationID = $("#hdnDDLId").val();
            $.ajax({
                url: '@Url.Action("SaveUserLogs", "BoxLabel")',
                type: "POST",
                data: {
                    "PartConfigNo": partconfigurationID, "ErrorDescription": Errordescription
                },
                success: function (data) {
                    if (data != null) {
                        var tempverify = data;
                        parameter = "SupervisorLogin;" + tempverify[0] + ";Box";

                        SuppervisorControll();
                    }
                }
            });
        };

        function SuppervisorControll() {
            pop('popDiv');
            var calllogin = callLogin();
            if (calllogin == 1) {
                hide('popDiv');
            }
            else if (calllogin == 0) {
                alert("Problem in supervisor login");
            }
        };

        function callLogin() {
            try {
                var shell = new ActiveXObject("WScript.shell");
                shell.run("C:\\LoginWindow\\Debug\\ZK7500.exe " + parameter, 1, true);

                return 1;
            }
            catch (e) {
                alert('Error : ' + e.Message + '\n' + e.InnerException + '\n' + e.Source + '\n' + e.StackTrace);
                return 0;
            }
        };


        function Clear() {
            $("#tblScanPartNo").empty();
            $("#txtQtybox").val("");
            $("#txtpartDesc").val("");
            $("#txtCustName").val("");
            $("#txtCustCode").val("");
            $("#txtCustIndex").val("");
            $("#txtScanPartBarcode").val("");
            document.getElementById('txtScanPartBarcode').disabled = true;
            $('#txtScanned').html("");
            totalPartCount = 0;
            countHowManyScans = 0;
            document.getElementById('btnBarcodePrint').disabled = true;

            $("#hdnDDLId").val("");
            $("#hdnDDLText").val("");

            $("#MST_PartConfiguration_IDundefined").val('');

            $("#MST_PartConfiguration_IDundefined").focus();

            if (document.getElementById('btnVerify').disabled == false) {
                document.getElementById('btnVerify').disabled = true;
            }
            countHowManyScans = 0;

            if ($("#divCustomerPartNo").is(":visible")) {
                $("#divCustomerPartNo").hide();
                $("#txtScanCustPartBarcode").val("");
                var toyotaPartInDB = "";
                var boschPartNoInDB = "";
                var kanbanId = "";
                var supplierCode = "";
            }
        }

        $(document).on("click", "#btnClear", function () {
            Clear();
        });

        $(document).on("click", "#btnVerify", function () {
            var splitpartNo = "";
            var partconfigurationID = $("#hdnDDLId").val();
            var ddlpartNoText = $("#hdnDDLText").val();

            var tblScanPartNo = document.getElementById("tblScanPartNo");

            if (ddlpartNoText) {
                splitpartNo = ddlpartNoText.split("-");
            }

            var uniqueId = 'id-' + Math.random().toString(36).substr(2, 16);

            for (rowcount = 1; rowcount < tblScanPartNo.rows.length; rowcount++) {
                partNo = tblScanPartNo.rows[rowcount].cells[0].innerHTML;
                BatchCode = tblScanPartNo.rows[rowcount].cells[1].innerHTML;
                Serial = tblScanPartNo.rows[rowcount].cells[2].innerHTML;
                $.ajax({
                    url: '@Url.Action("SaveInTemp", "BoxLabel")',
                    type: "POST",
                    data: {
                        "PartConfigId": partconfigurationID, "PartQty": totalPartCount, "partno": partNo, "partbatchcode": BatchCode, "partserialno": Serial, "Code": uniqueId
                    },
                    success: function (data) {
                        if (data != null) {
                            var tempverify = data
                            if (tempverify == 1) {
                                document.getElementById('btnBarcodePrint').disabled = false;
                                document.getElementById('btnVerify').disabled = true;
                                var CustomerName = document.getElementById('txtCustName').value;
                                var PartDescription = document.getElementById('txtpartDesc').value;
                                parameter = partconfigurationID + ";" + uniqueId + ";" + CustomerName + ";" + PartDescription;
                            }
                        }
                    }
                });
            }
        });

        $(document).on("click", "#btnBarcodePrint", function () {

            var resultprinting = printBarcodeFromWebApp();//execFinger()
            if (resultprinting != null) {
                if (resultprinting == 1) {
                    document.getElementById('btnBarcodePrint').disabled = true;
                    Clear();
                    alert(boxbarcode[3] + " - Box packed succesfully");
                }
                else {
                    document.getElementById('btnBarcodePrint').disabled = true;
                    Clear();
                    alert("Error occured during barcode printing");
                }
            }
        });

        function CreateBlankRow(tblScanPartNo) {
            var thead = document.createElement('thead');
            var row = document.createElement('tr'); // create row node
            var col = document.createElement('td'); // create column node
            var col2 = document.createElement('td'); // create second column node
            var col3 = document.createElement('td');
            row.appendChild(col); // append first column to row
            row.appendChild(col2); // append second column to row
            row.appendChild(col3);
            row.appendChild(thead);
            col.innerHTML = "Scanned Part No"; // put data in first column
            col2.innerHTML = "Batch No"  // put data in second column
            col3.innerHTML = "Serial No";

            tblScanPartNo.appendChild(row); // append row to table
    };

    function printBarcodeFromWebApp() {
        Clear();
        $.ajax({
            url: '@Url.Action("GetuserData", "BoxLabel")',
            type: "POST",
            data: {},
            success: function (data) {

                if (data != null) {
                    if (data.length > 0) {
                        var vdata = data;       // data get the valus as  =>  1;ttladmin i.e. UserId, LoginId
                        try {
                            //= 1;ttladmin ; FingerValidationBox
                            parameter = vdata + ";FingerValidationBox;" + parameter;
                            CallLocalUSBPrinter(parameter);
                            return 1;
                        }
                        catch (e) {
                            alert('Error : ' + e.Message + '\n' + e.InnerException + '\n' + e.Source + '\n' + e.StackTrace);
                            return 0;
                        }
                    }
                }
            }
        });
    }



	function CallLocalUSBPrinter(params) {

        try {

            var shell = new ActiveXObject("WScript.shell");
            shell.run("C:\\UserValidation\\PrintingLogicNET35\\LabelPrinting.exe " + parameter, 1, true);
            // Disable Print Button on successful barcode print: Start
			document.getElementById('btnBarcodePrint').disabled = true;
			// Disable Print Button on successful barcode print: End
            return 1;
        }
        catch (e) {
            alert('Error : ' + e.message + '\n' + e.stack);
            return 0;
        }
    }






</script>


<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="~/Home/Index">Home</a></li>
            <li><i class="fa fa-table"></i>Barcode Generation</li>
            <li><i class="fa fa-th-list"></i>Box Barcode Generation</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section class="panel">
                <header class="panel-heading">

                    <table valign="middle">
                        <tr>
                            <td align="left" width="50%">
                                Box Barcode Generation
                            </td>
                            <td align="right" width="50%" valign="middle">

                                <input type="button" id="btnClear" class="btn btn-default btn-sm" tabindex="9" title="Clear" value="Clear" />
                            </td>
                            <td align="right" width="50%" valign="middle">

                                <input type="button" id="btnVerify" disabled="disabled" class="btn btn-default btn-sm" tabindex="9" title="Verify" value="Verify" />
                            </td>
                            <td align="right" width="50%" valign="middle">
                                <input type="button" id="btnBarcodePrint" disabled="disabled" tabindex="8" class="btn btn-default btn-sm" title="Print Box Barcode" value="Print Barcode" />
                            </td>
                            <td align="right" width="50%" valign="middle">
                                <a class="btn btn-default btn-sm" href="~/Home/Index" tabindex="10" title="Cancel">Cancel</a>
                            </td>

                        </tr>

                    </table>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">

                            <div class="row">

                                <div class="col-lg-6">

                                    <label class="col-lg-3 control-label">Part No</label>
                                    <div class="col-lg-9" style="padding-right:15px;padding-left:0px;">
                                        <select id="MST_PartConfiguration_ID" class="combobox form-control">
                                            <option value="" selected="selected">-- Select --</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Part desc</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtpartDesc" tabindex="2" disabled="disabled" class="form-control" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row">

                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Qty per Box</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtQtybox" disabled="disabled" tabindex="3" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Customer Name</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtCustName" disabled="disabled" tabindex="4" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Customer Code</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtCustCode" disabled="disabled" tabindex="5" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Customer Index</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtCustIndex" disabled="disabled" tabindex="6" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* New Div Added For Toyota*@
                        <div class="form-group" id="divCustomerPartNo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label id="lblCustPartNo" class="col-lg-3 control-label" style="color:firebrick; font-size:15px; font-weight:bold;"><span id="blinkCustomer" class="blink_me">Scan Customer Part No</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtScanCustPartBarcode" tabindex="9" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="divBoschPartNo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">Scan Part No</label>
                                    <div class="col-lg-12">
                                        <input type="text" id="txtScanPartBarcode" tabindex="7" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-3 control-label">No of Part Scanned</label>
                                    <div class="col-lg-12">
                                        <label class="col-lg-3 control-label" style="font-size: larger; font-weight: 500" id="txtScanned"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table" id="tblScanPartNo"></table>
                        </div>
                    </form>
                </div>
            </section>
        }
    </div>
</div>

<input type="hidden" id="hdnDDLId" />
<input type="hidden" id="hdnDDLText" />
<input type="hidden" id="hdnCustomerPartNo" />

<div id="popDiv" class="ontop" data-theme="c">
</div>